<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      List Notes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let data of isiData | async">
      <ion-label>
        <h1>{{data.judul}}</h1><br>
        <h5>Isi Note : {{data.isi}}</h5>
        <h5>Nilai Note : {{data.nilai}}</h5>
        <h5>Tanggal Note : {{data.tanggal}}</h5>
        <h5>Link Foto Note : {{data.foto}}</h5>
      </ion-label>
      <ion-button (click)="editdelFoto(data.judul, data.isi, data.nilai, data.tanggal, data.foto)">Detail Note</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
