<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Input and Upload Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-input placeholder="Judul Page" [(ngModel)]="judulTemp"></ion-input>
  <ion-input placeholder="Isi Page" [(ngModel)]="isiTemp"></ion-input>
  <ion-input placeholder="Nilai Page" [(ngModel)]="nilaiTemp"></ion-input>
  <ion-input placeholder="Tanggal" type="date" [(ngModel)]="tanggalTemp"></ion-input>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let isiFoto of fotoservice.dataFoto; index as position">
        <ion-img [src]="isiFoto.webviewPath"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="tambahfoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>

    <ion-button (click)="uploadFoto()">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-button>
  </ion-fab>

</ion-content>
